<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" src="../jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.css" />
    <script type="text/javascript" src="../bootstrap3/js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid">
    <form id="addForm" class="form-horizontal">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">


                <div class="form-group">
                    <table>
                        <tr>
                            <td></td>
                            <td><input type="hidden" class="form-control" name="id" /></td>
                        </tr>
                        <tr>
                            <td>属性组名称</td>
                            <td>
                                <span id="type_keyType">
                                     <input type="text" class="form-control"  name="type_key"  style="display: inline-block"  placeholder="添加属性组名称"/>
                                      <button type="button" class="btn btn-default" style="display: inline-block"  onclick="querytype_keySelect()">切换已有的选择添加</button>
                                 </span>
                            </td>
                        </tr>
                        <tr>
                            <td>包含属性</td>
                            <td>
                                <table id="AddMenuDiv">
                                    <tr>
                                        <td> <input type="text" class="form-control"  name="type_value"   placeholder="添加属性"/>
                                            <button type="button" class="btn btn-default" style="display: inline" onclick="addSType_value()">+</button>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </form>
</div>
<script>
    /*<![CDATA[*/

        function querytype_keySelect(){

            $("#type_keyType").html("");
            $("#type_keyType").html("<select id='queryType_key'  class=\"form-control selectpicker\"   data-live-search=\"true\"></select>\n" +
                "                <button type=\"button\" class=\"btn btn-default\"  style=\"display: inline\" onclick=\"queryType_keyText()\">切换输入添加</button>");
        }
    function queryType_keyText(){
        $("#type_keyType").html("");
        $("#type_keyType").html("  <input type=\"text\" class=\"form-control\"  name=\"type_key\"   placeholder=\"添加属性组名称\"/>\n" +
            "            <button type=\"button\" class=\"btn btn-default\" style=\"display: inline\"  onclick=\"querytype_keySelect()\">切换已有的选择添加</button>");
        queryType_key();
    }
    function  addSType_value(){
        /* 每次获取table里的数据都会  给没有tbody数据加上tbody 当有therd时就不需要tbody添加标签*/
        /* 获取html里边的代码  返回是一个带《tboody>标签的代码 第二次返回依然是俩个《tboody>*/
        var AddMenuDivHtml=$("#AddMenuDiv").html();

        /* alert(AddMenuDivHtml)
      $("#testspan").text(AddMenuDivHtml);   */
        /*获取《tboody>里边的数据  因为他们的  $("#AddMenuDiv")相同 都是《tboody>所以只获取一个《tboody》里的内容 因为上别的*/
        var tbodyHtml=$("#AddMenuDiv").find('tbody').html();

        /*   alert(tbodyHtml)
        $("#testspan2").text(tbodyHtml);   */
        /*获取《tboody>里边的数据  加上之前的数据  */
        var zhongjia=AddMenuDivHtml+tbodyHtml

        /*  alert(zhongjia)
         /* $("#testspan3").text(zhongjia);  */
        /*添加到table中  */
        $("#AddMenuDiv").html(zhongjia);
        /*当时想过每条数据加个编号
        /*$("input[name='dfs']").val($("input[name='dfs']").val()+1)*/
    }

    function queryType_key(){
        $.ajax({
            url:'../commodityTypeSumUp/queryType_key',
            type:'post',
            dataType:'json',
            success:function (result) {
                var html = '<option value="0">清选择一级分类</option>';
                for (var i = 0; i < result.length ; i++) {
                    html += '<option value="'+result[i].type_key+'">'+result[i].type_key+'</option>';
                }
                $("select[name='type_key']").html(html);
            }
        })
    }
    /*]]> */
</script>
</body>
</html>