<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" src="../jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.css" />
    <script type="text/javascript" src="../bootstrap3/js/bootstrap.js"></script>

</head>
<body>
<div class="container-fluid">
    <form id="addForm" class="form-horizontal">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-8">
                <div class="form-group">
                    <table>
                        <tr>
                            <td></td>
                            <td><input type="hidden" class="form-control" name="id" /></td>
                        </tr>
                        <tr>
                            <td>商品名称</td>
                            <td><input type="text" class="form-control" name="name" /></td>
                        </tr>
                        <tr>
                            <td>商品品牌</td>
                            <td><input type="text" class="form-control" name="trademark" /></td>
                        </tr>
                        <tr>
                            <td>商品分类</td>
                            <td><input type="text" class="form-control" name="classify" /></td>
                        </tr>
                        <tr>
                            <td>商品规格</td>
                            <td><input type="text" class="form-control" name="specification" /></td>
                        </tr>
                        <tr>
                            <td>出售价格</td>
                            <td><input type="text" class="form-control" name="sellingPrice" /></td>
                        </tr>
                        <tr>
                            <td>进货价格</td>
                            <td><input type="text" class="form-control" name="pricePurchasing" /></td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>

    </form>
</div>
</body>
</html>