<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.user.UserBeanMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.user.UserBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="post" property="post" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="entry_time" property="entryTime" jdbcType="TIMESTAMP" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="head_img" property="headImg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, account, pwd, phone, status, sex, dept_id deptId, post, email, entry_time entryTime, age,
    head_img headImg
  </sql>

  <!-- 登陆查询账号密码 -->
  <select id="queryUserInfoByLoginNumber" resultType="com.jk.model.user.UserBean" >
    select id,account,pwd,phone,name from t_user where account = #{username}
  </select>

  <!-- 查询权限 -->
  <select id="queryUserPowerByUserId" resultType="string">
    select p.power from t_user_role ur,t_role_power rp,t_power p where
    ur.role_id = rp.role_id and rp.power_id = p.id and ur.user_id = #{userBean.id}
    and p.type = 'power'
  </select>

  <!-- 查询用户总条数 -->
  <select id="queryUserCount" resultType="int">
    select count(*) from t_user u,t_dept d,t_job j where u.dept_id = d.id and u.post = j.id
    <if test="userBean.name != null and userBean.name != ''">
      and u.name like '%${userBean.name}%'
    </if>
    <if test="userBean.account != null and userBean.account != ''">
      and u.account like '%${userBean.account}%'
    </if>
    <if test="userBean.post != null and userBean.post != 0 ">
      and u.post = #{userBean.post}
    </if>
    <if test="userBean.status != null and userBean.status != 0 ">
      and u.status = #{userBean.status}
    </if>
    <if test="userBean.startTime != null">
      and u.entry_time &gt; #{userBean.startTime}
    </if>
    <if test="userBean.endTime != null">
      and u.entry_time &lt; #{userBean.endTime}
    </if>
  </select>

  <!-- 查询用户 带分页 -->
  <select id="queryUserList" resultType="com.jk.model.user.UserBean">
    select u.id, u.name, u.account, u.pwd, u.phone, u.status, u.sex, u.dept_id deptId, u.post,
    u.email, u.entry_time entryTime, u.age, u.head_img headImg,d.name depName,j.name jobName
    from t_user u,t_dept d,t_job j where u.dept_id = d.id and u.post = j.id
    <if test="userBean.name != null and userBean.name != ''">
      and u.name like '%${userBean.name}%'
    </if>
    <if test="userBean.account != null and userBean.account != ''">
      and u.account like '%${userBean.account}%'
    </if>
    <if test="userBean.post != null and userBean.post != 0 ">
      and u.post = #{userBean.post}
    </if>
    <if test="userBean.status != null and userBean.status != 0 ">
      and u.status = #{userBean.status}
    </if>
    <if test="userBean.startTime != null">
      and u.entry_time &gt; #{userBean.startTime}
    </if>
    <if test="userBean.endTime != null">
      and u.entry_time &lt; #{userBean.endTime}
    </if>
    limit #{userBean.startIndex},#{userBean.rows}
  </select>

  <!-- 查询职位 -->
  <select id="queryJobAll" resultType="com.jk.model.job.JobBean">
    select * from t_job
  </select>

  <!-- 查询部门 -->
  <select id="queryDeptAll" resultType="com.jk.model.dept.DeptBean">
    select d.id, u.name userName from t_dept d,t_user u where d.user_id = u.id
  </select>

  <!-- 根据pid查询职位 -->
  <select id="queryJobByDeptId" resultType="com.jk.model.job.JobBean">
    select * from t_job where pid = #{jobBean.pid}
  </select>

  <!-- 修改密码  -->
  <update id="updateUserPassword">
    update t_user set head_img = #{userBean.headImg},
                      phone = #{userBean.phone},
                      pwd = #{userBean.pwd}
                where id = #{userBean.id}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.model.user.UserBean" >
    insert into t_user (id, name, account, 
      pwd, phone, status, 
      sex, dept_id, post, 
      email, entry_time, age, 
      head_img)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, 
      #{pwd,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{sex,jdbcType=INTEGER}, #{deptId,jdbcType=INTEGER}, #{post,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{entryTime,jdbcType=TIMESTAMP}, #{age,jdbcType=INTEGER}, 
      #{headImg,jdbcType=VARCHAR})
  </insert>

  <!-- 添加用户 -->
  <insert id="saveUser">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userBean.name != null and userBean.name != ''" >
        name,
      </if>
      <if test="userBean.account != null and userBean.account != ''" >
        account,
      </if>
      <if test="userBean.pwd != null and userBean.pwd != ''" >
        pwd,
      </if>
      <if test="userBean.phone != null and userBean.phone != ''" >
        phone,
      </if>
      <if test="userBean.status != null" >
        status,
      </if>
      <if test="userBean.sex != null" >
        sex,
      </if>
      <if test="userBean.deptId != null" >
        dept_id,
      </if>
      <if test="userBean.post != null" >
        post,
      </if>
      <if test="userBean.email != null and userBean.email != ''" >
        email,
      </if>
      <if test="userBean.entryTime != null" >
        entry_time,
      </if>
      <if test="userBean.age != null" >
        age,
      </if>
      <if test="userBean.headImg != null and userBean.headImg != '' " >
        head_img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userBean.name != null and userBean.name != ''" >
        #{userBean.name},
      </if>
      <if test="userBean.account != null and userBean.account != ''" >
        #{userBean.account},
      </if>
      <if test="userBean.pwd != null and userBean.pwd != ''" >
        #{userBean.pwd},
      </if>
      <if test="userBean.phone != null and userBean.phone != ''" >
        #{userBean.phone},
      </if>
      <if test="userBean.status != null" >
        #{userBean.status},
      </if>
      <if test="userBean.sex != null" >
        #{userBean.sex},
      </if>
      <if test="userBean.deptId != null" >
        #{userBean.deptId},
      </if>
      <if test="userBean.post != null" >
        #{userBean.post},
      </if>
      <if test="userBean.email != null and userBean.email != ''" >
        #{userBean.email},
      </if>
      <if test="userBean.entryTime != null" >
        #{userBean.entryTime},
      </if>
      <if test="userBean.age != null" >
        #{userBean.age},
      </if>
      <if test="userBean.headImg != null and userBean.headImg != ''" >
        #{userBean.headImg},
      </if>
    </trim>
  </insert>

  <select id="queryUserInfoById" resultType="com.jk.model.user.UserBean">
    select id, name, account, pwd, phone, status, sex, dept_id deptId, post, email,
    entry_time entryTime, age, head_img headImg from t_user where id = #{userBean.id}
  </select>

  <update id="updateUser">
    update t_user
    <set >
      <if test="userBean.name != null and userBean.name != ''" >
        name = #{userBean.name},
      </if>
      <if test="userBean.account != null and userBean.account != ''" >
        account = #{userBean.account},
      </if>
      <if test="userBean.pwd != null and userBean.pwd != ''" >
        pwd = #{userBean.pwd},
      </if>
      <if test="userBean.phone != null and userBean.phone != ''" >
        phone = #{userBean.phone},
      </if>
      <if test="userBean.status != null" >
        status = #{userBean.status},
      </if>
      <if test="userBean.sex != null" >
        sex = #{userBean.sex},
      </if>
      <if test="userBean.deptId != null" >
        dept_id = #{userBean.deptId},
      </if>
      <if test="userBean.post != null" >
        post = #{userBean.post},
      </if>
      <if test="userBean.email != null and userBean.email != ''" >
        email = #{userBean.email},
      </if>
      <if test="userBean.entryTime != null" >
        entry_time = #{userBean.entryTime},
      </if>
      <if test="userBean.age != null" >
        age = #{userBean.age},
      </if>
      <if test="userBean.headImg != null and userBean.headImg != ''" >
        head_img = #{userBean.headImg},
      </if>
    </set>
    where id = #{userBean.id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.model.user.UserBean" >
    update t_user
    set name = #{name,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sex = #{sex,jdbcType=INTEGER},
      dept_id = #{deptId,jdbcType=INTEGER},
      post = #{post,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      entry_time = #{entryTime,jdbcType=TIMESTAMP},
      age = #{age,jdbcType=INTEGER},
      head_img = #{headImg,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>