<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <form id="editPowerForm">
        <div class="row" style="margin-top: 20px">
            <div class="col-sm-2">
                <input type="hidden" name="id"/>
            </div>
            <div class="col-sm-3" style="height: 34px;line-height: 34px;text-align: right">
                角色名
            </div>
            <div class="col-sm-5">
                <input class="form-control" name="name" type="text"/>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-sm-2"></div>
            <div class="col-sm-3" style="height: 34px;line-height: 34px;text-align: right">
                拥有权限
            </div>
            <div class="col-sm-5">
                <span id="powerSpan"></span>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </form>
</body>
</html>