<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.purchase.PayMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.purchase.Pay" >
    <id column="id" property="payId" jdbcType="INTEGER" />
    <result column="pay_Way" property="payWay" jdbcType="VARCHAR" />
    <result column="later_Pay" property="laterPay" jdbcType="VARCHAR" />
    <result column="start_Time" property="startTime" jdbcType="VARCHAR" />
    <result column="count_Time" property="countTime" jdbcType="VARCHAR" />
    <result column="count_Pay_Time" property="countPayTime" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="supplierNumberPay" property="supplierNumberPay" jdbcType="VARCHAR" />
  </resultMap>

  <update id="updatePay" parameterType="com.jk.model.purchase.Pay" >
    update xzs_pay
    set pay_Way = #{payWay,jdbcType=VARCHAR},
      later_Pay = #{laterPay,jdbcType=VARCHAR},
      start_Time = #{startTime,jdbcType=VARCHAR},
      count_Time = #{countTime,jdbcType=VARCHAR},
      count_Pay_Time = #{countPayTime,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      supplierNumberPay= #{supplierNumberPay,jdbcType=VARCHAR}
    where id = #{payId,jdbcType=INTEGER}
  </update>

  <insert id="addPay"  parameterType="com.jk.model.purchase.Pay">
      insert into xzs_pay ( pay_Way, later_Pay,
      start_Time, count_Time, count_Pay_Time,
       user_id,supplierNumberPay)
    values ( #{payWay,jdbcType=VARCHAR}, #{laterPay,jdbcType=VARCHAR},
      #{startTime,jdbcType=VARCHAR}, #{countTime,jdbcType=VARCHAR},
      #{countPayTime,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{supplierNumberPay,jdbcType=VARCHAR})
  </insert>


  <select id="huiPay"  parameterType="map"  resultMap="BaseResultMap">
        select  *  from  xzs_pay  where  supplierNumberPay  like '${supplierNumber}'
    </select>

</mapper>