<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
    <script type="text/javascript" src="../jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.css" />
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="../bootstrap-treeview/bootstrap-treeview.min.css" />
    <link rel="stylesheet" href="../bootstrap-table/bootstrap-table.css" />
    <script type="text/javascript" src="../bootstrap3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-bootbox/bootbox.js"></script>
    <script type="text/javascript" src="../bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" />
    <script type="text/javascript" src="../bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="../bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
</head>
<style>
    li{
        width: 150px;
    }
    .nav>li>a:hover,.nav>li>a:focus{
        background-color: #91e8e1;
    }
</style>
<body>
    <ul class="nav nav-tabs">
        <li>
            <a href="../indents/toShow" target="666"><center><font color="black" size="3px">全部订单</font></center></a>
        </li>
        <li>
            <a href="../indents/toConfirm" target="666"><center><font color="black" size="3px">确认收货</font></center></a>
        </li>
        <li>
            <a href="../indents/toReturn" target="666"><center><font color="black" size="3px">退换货订单</font></center></a>
        </li>
    </ul>
</body>
<script>

</script>
</html>