<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Insert title here</title>
    <script type="text/javascript" src="../jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.css" />
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="../bootstrap-treeview/bootstrap-treeview.min.css" />
    <link rel="stylesheet" href="../bootstrap-table/bootstrap-table.css" />
    <script type="text/javascript" src="../bootstrap3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript" src="../bootstrap-bootbox/bootbox.js"></script>
    <script type="text/javascript" src="../bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" />
    <script type="text/javascript" src="../bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="../bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
</head>
    <frameset rows="6%,*" frameborder="no" >
        <frame  src="../indents/toBread" name=""/>
        <frame src="../indents/toShow" name="666"/>
    </frameset>
<script>

</script>
</html>