<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="../jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.css"/>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="../bootstrap-select/css/bootstrap-select.css"/>
    <script src="../bootstrap3/js/bootstrap.js"></script>
    <script src="../bootstrap-select/js/bootstrap-select.js"></script>
    <script src="../bootstrap-select/js/i18n/defaults-zh_CN.js"></script>
</head>
<body id="hhh">
    <form id="editUserForm">
        <input type="hidden" name="id"/>
        <input type="hidden" name="status"/>
        <input type="hidden" name="pwd"/>
        <div class="row" style="margin-top: 15px">
            <div class="col-sm-3"></div>
            <div class="col-sm-2" style="height: 34px;line-height: 34px;text-align: right">
                员工姓名
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="name"/>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-sm-3"></div>
            <div class="col-sm-2" style="height: 34px;line-height: 34px;text-align: right">
                员工账号
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="account"/>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-sm-3"></div>
            <div class="col-sm-2" style="height: 34px;line-height: 34px;text-align: right">
                员工性别
            </div>
            <div class="col-sm-4">
                <label class="radio-inline">
                    <input type="radio" name="sex" value="1"/> 男
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sex" value="2"/> 女
                </label>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-sm-3"></div>
            <div class="col-sm-2" style="height: 34px;line-height: 34px;text-align: right">
                手机号
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="phone"/>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-sm-3"></div>
            <div class="col-sm-2" style="height: 34px;line-height: 34px;text-align: right">
                工作邮箱
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="email"/>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-sm-3"></div>
            <div class="col-sm-2" style="height: 34px;line-height: 34px;text-align: right">
                直属上级
            </div>
            <div class="col-sm-4">
                <select class="form-control" name="deptId" id="deptIdSelect" onchange="selectJob()"></select>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-sm-3"></div>
            <div class="col-sm-2" style="height: 34px;line-height: 34px;text-align: right">
                选择职位
            </div>
            <div class="col-sm-4">
                <select class="form-control" id="postSelect" name="post"></select>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row" style="margin-top: 15px">
            <div class="col-sm-3"></div>
            <div class="col-sm-2" style="height: 34px;line-height: 34px;text-align: right">
                选择角色
            </div>
            <div class="col-sm-4">
                <span id="mySpan"></span>
                <!--<select id="slpk" class="form-control selectpicker" name="roleName" data-live-search="true" multiple="multiple"></select>-->
            </div>
            <div class="col-sm-3"></div>
        </div>
    </form>
</body>
<script>

</script>
</html>