<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>homepage</title>
    <script type="text/javascript" src="../jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.css" />
    <script type="text/javascript" src="../bootstrap3/js/bootstrap.js"></script>
    <script type="text/javascript" src="../highcharts/code/highcharts.js"></script>
    <script type="text/javascript" src="../highcharts/code/modules/series-label.js"></script>
    <script  type="text/javascript" src="../highcharts/code/modules/exporting.js"></script>
    <script  type="text/javascript" src="../highcharts/code/modules/export-data.js"></script>
</head>
    <style>
        #containerDay {
            min-width: 610px;
            max-width: 900px;
            height: 250px;
            margin:auto
        }
        #containerName {
            min-width: 310px;
            max-width: 500px;
            height: 250px;
            margin:auto
        }
        .div1 {
            width:200px;
            height:200px;
            overflow:hidden;
            margin:auto;
            position:relative;
        }
        @keyframes anis {
            100% {
                transform:translateY(-200px)
            }
        }img {
             position:absolute;
         }
        .div2 {
            animation:anis 10s linear infinite;
        }
        .div2:hover {
            animation-play-state:paused;
        }
        .div2{
            border:2px solid #fff;

            margin:30px auto;

            background-color:#fff;

            box-sizing:border-box;
        }
    </style>
<body style=" margin:0px; padding:0px; overflow:hidden; ">
<div class="panel panel-default " style=" height:100% ; width:100%; position:absolute;">
    <div class="panel-heading">
        <h3 class="panel-title">基础信息/ 系统首页</h3>
    </div>
    <div class="panel-body">
                <div class="row">
                    <div class="col-md-8" style="height: 400px">
                        <div class="row">
                            <div class="col-md-12" style="height: 160px">
                                <div class="row" >
                                    <div class="col-md-12" style="height:60px;border:1px solid #000;background-color: #B0B0B3">
                                            <h3 style="color: #2b908f;display:inline-block" ><b>|</b></h3>
                                            <h3 style="display:inline-block">运营快捷入口</h3>
                                    </div>
                                    <div class="col-md-2" style="height: 100px;border:1px solid #000">
                                        <a href="#"><img src="../img/1.jpg" width="100%" height="100%"/></a>
                                    </div>
                                    <div class="col-md-2" style="height: 100px;border:1px solid #000">
                                        <a href="#"><img src="../img/2.jpg" width="100%" height="100%"/></a>
                                    </div>
                                    <div class="col-md-2" style="height: 100px;border:1px solid #000">
                                        <a href="#"><img src="../img/3.jpg" width="100%" height="100%"/></a>
                                    </div>
                                    <div class="col-md-2"  style="height: 100px;border:1px solid #000">
                                        <a href="#"><img src="../img/4.jpg" width="100%" height="100%"/></a>
                                    </div>
                                    <div class="col-md-2" style="height: 100px;border:1px solid #000">
                                        <a href="#"><img src="../img/5.jpg" width="100%" height="100%"/></a>
                                    </div>
                                    <div class="col-md-2" style="height: 100px;border:1px solid #000">
                                        <a href="#"><img src="../img/6.jpg" width="100%" height="100%"/></a>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12" style="height: 10px"></div>
                            <div class="col-md-12" style="height: 200px">
                                <div class="row">
                                    <div class="col-md-6" style="height: 220px">
                                        <table class="table" border="1px">
                                            <thead class="thead-light" border="1px">
                                                <h3 style="color: #2b908f;display:inline-block" ><b>|</b></h3>
                                                <h3 style="display:inline-block">待处理事务 </h3>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td >待入库商品（*）</td>
                                            </tr>
                                            <tr>
                                                <td>待出库商品（*）</td>
                                            </tr>
                                            <tr>
                                                <td>待审核供应商（*）</td>
                                            </tr>
                                            <tr>
                                                <td>待批量流程（*）</td>
                                            </tr>
                                            <tr>
                                                <td>其他事项（*）</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-md-6" style="height: 220px">
                                        <table class="table" border="1px">
                                            <thead class="thead-light" border="1px">
                                                <h3 style="color: #2b908f;display:inline-block" ><b>|</b></h3>
                                                <h3 style="display:inline-block">日程管理</h3>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>2017.12.03    需求会议</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    2017.12.04    产品会议</td>
                                            </tr>
                                            <tr>
                                                <td>2017.12.04    产品会议</td>
                                            </tr>
                                            <tr>
                                                <td>2017.12.04    产品会议</td>
                                            </tr>
                                            <tr>
                                                <td>2017.12.04    产品会议</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-4" style="height: 300px">
                        <div class="row">
                            <div class="col-xs-12">
                                <table class="table" border="1px">
                                    <thead class="thead-light" border="1px">
                                        <h3 style="color: #2b908f;display:inline-block" ><b>|</b></h3>
                                        <h3 style="display:inline-block">公司公告</h3>
                                    </thead>
                                    <tbody>
                                    <tr style="height: 300px">
                                        <td>
                                            <div class="div1" style="height: 300px">
                                                <div class="div2">
                                                    <p><a href="#"><center><font size="4px">2018年春节放假通知</font></center></a></p>
                                                    <p><a href="#"><center><font size="4px">2018年春节放假通知</font></center></a></p>
                                                    <p><a href="#"><center><font size="4px">2018年春节放假通知</font></center></a></p>
                                                    <p><a href="#"><center><font size="4px">2018年春节放假通知</font></center></a></p>
                                                    <p><a href="#"><center><font size="4px">2017年11月3日 公司聚餐</font></center></a></p>
                                                    <p><a href="#"><center><font size="4px">2017年11月3日 公司聚餐</font></center></a></p>
                                                    <p><a href="#"><center><font size="4px">2017年11月3日 公司聚餐</font></center></a></p>
                                                    <p><a href="#"><center><font size="4px">2017年11月3日 公司聚餐</font></center></a></p>
                                                    <p><a href="#"><center><font size="4px">2017年11月3日 公司聚餐</font></center></a></p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12" ></div>
                    <div class="col-md-8"  id="containerDay">
                    </div>
                    <div class="col-md-4" id="containerName" style="float: right">
                    </div>
                </div>
</div>
</div>
    <script>

        <!--本月的订单数 -->
       $(function(){
            $.ajax({
                url:"../indents/queryCountByDay",
                dataType:"json",
                type:"post",
                success:function(data) {
                    var title = {
                        text: '本周订单统计'
                    };
                    var subtitle = {
                        text: 'Source:1806B班第二项目组'
                    };
                    var tooltip={
                        pointFormat: '{series.name}: <b>{point.y}个</b>'
                    };
                    var plotOptions = {
                        line: {
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.y}个',
                                connectorAllowed: false
                            },

                        }
                    };
                    var series= [{
                        data:data
                    }
                    ];

                    var json = {};

                    json.title = title;
                    json.subtitle = subtitle;
                    json.tooltip=tooltip;
                    json.series = series;
                    json.plotOptions = plotOptions;
                    $('#containerDay').highcharts(json);
                }
            })
        });
        $(function(){
            $.ajax({
                url:"../indents/queryCountByName",
                dataType:"json",
                type:"post",
                success:function(data) {
                    var chart = Highcharts.chart('containerName', {
                        chart: {

                            // backgroundColor:'#FF99CC'

                        },
                        title: {
                            text: '热门分类服装'
                        },
                        subtitle: {
                            text: '数据来源: 1806B班第二项目组'
                        },

                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.y}个</b>'
                        },
                        plotOptions: {
                            bar: {
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}</b>: {point.y}个',
                                    allowOverlap: true // 允许数据标签重叠
                                }
                            }
                        },
                        legend: {
                            layout: 'vertical',
                            align: 'right',
                            verticalAlign: 'top',
                            x: -40,
                            y: 100,
                            floating: true,
                            borderWidth: 1,

                            shadow: true
                        },
                        series: [{
                            type: 'bar',
                            colorByPoint: true,
                            data:data
                        }]
                    });
                }
            })
        });
    </script>
</body>
</html>