<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script src="../jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.css"/>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="../uploadify/uploadify.css"/>
    <script src="../bootstrap3/js/bootstrap.js"></script>
    <script src="../uploadify/jquery.uploadify.min.js"></script>
</head>
<body>
    <input type="hidden" id="hiddenId" th:value="${user.id}"/>
    <div class="row">
        <div class="col-md-12" style="text-align: center;background-color: #cecece">
            <font size="6px">设置账户</font>
        </div>
    </div>

    <div class="row" style="margin-top: 30px">
        <div class="col-md-12" style="text-align: center;">
            <center>
            <div id="showImgDiv" style="width: 81px;height: 81px;">
                <img src="" id="showImg" class="img-circle" style="width: 81px;height: 81px;"/>
                <input type="hidden" id="hiddenShowImg" th:value="${user.headImg}"/>
            </div>
            <div style="margin-top: 10px">
                <input type="file" id="userphoto" />
            </div>

            <div id="showswf"></div>
            <input type="hidden" name="headImg" id="userp"/>
            </center>
        </div>
    </div>
    
    <div class="row" style="margin-top: 10px">
        <div class="col-md-4"></div>
        <div class="col-md-1">
            <font color="red">*</font>用户名:
        </div>
        <div class="col-md-3">
            <input type="text" id="userName" disabled="disabled" th:value="${user.name}" class="form-control input-lg"/>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row" style="margin-top: 15px">
        <div class="col-md-4"></div>
        <div class="col-md-1">
            <font color="red">*</font>手机号:
        </div>
        <div class="col-md-3" id="phoneDiv">
            <input type="text" id="userPhone" disabled="disabled" th:value="${user.phone}" class="form-control input-lg"/>
        </div>
        <div class="col-md-4" id="updateDiv">
            <a href="javascript:updatePhone()"><font color="red">修改</font></a>
        </div>
    </div>
    <div class="row" style="margin-top: 15px">
        <div class="col-md-4"></div>
        <div class="col-md-1">
            <font color="red">*</font>旧密码:
            <input type="hidden" id="newPwd" th:value="${user.pwd}"/>
        </div>
        <div class="col-md-3">
            <input type="password" id="usedPwd" class="form-control input-lg"/>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row" style="margin-top: 15px">
        <div class="col-md-4"></div>
        <div class="col-md-1">
            <font color="red">*</font>新密码:
        </div>
        <div class="col-md-3">
            <input type="password" id="userPwd" class="form-control input-lg"/>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row" style="margin-top: 15px">
        <div class="col-md-4"></div>
        <div class="col-md-1">
            <font color="red">*</font>确认密码:
        </div>
        <div class="col-md-3">
            <input type="password" id="userPassword" class="form-control input-lg"/>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
            <center>
                <input type="button" class="btn btn-info" id="submitBtn" value="确认"/>
            </center>
        </div>
    </div>
    <script>
        $(function(){
            alert($("#hiddenShowImg").val());
            /* <![CDATA[ */
            if($("#hiddenShowImg").val() != null && $("#hiddenShowImg").val() != ''){
                $(".img-circle").attr("src",$("#hiddenShowImg").val());
            }else{
                $(".img-circle").attr("src",'../images/u172.png');
            }
            /* ]]> */
            $("#userphoto").uploadify({
                //前台请求后台的url 不可忽略的参数
                'uploader' :"../user/uploadImg",
                //插件自带 不可忽略的参数
                'swf' : '../uploadify/uploadify.swf',
                //撤销按钮的图片路径
                'cancelImg' : '../uploadify/uploadify-cancel.png',
                //如果为true 为自动上传 在文件后 为false 那么它就要我们自己手动点上传按钮
                'auto' : true,
                //可以同时选择多个文件 默认为true 不可忽略
                'multi' : false,
                //给上传按钮设置文字
                'buttonText':'点击更换头像',
                //上传后队列是否消失
                'removeCompleted' : true,
                'removeTimeout' : 1,
                //上传文件的个数
                'uploadLimit' : 10,
                'fileTypeExts' : '*.jpg;*.jpge;*.gif;*.png',
                'fileSizeLimit' : '2MB',
                //给div的进度条加背景 不可忽略
                'queueID' : 'showswf',
                // controller层方法中接收文件的参数名
                'fileObjName' : 'imgFile',
                //上传成功后的回调函数
                'onUploadSuccess' : function(file, data, response) {
                    //data : 图片上传成功后的 图片路径
                    /*
                    1.根据图片路径 通过img标签回显图片
                    2.将图片路径 放到隐藏域中  保存用户数据时  直接添加到数据库
                    */
                    $("#showImg").attr("src",data);
                    $("#userp").val(data);
                }
            });
        });

        function updatePhone() {
            $("#phoneDiv").html('<input type="text" id="userPhone" th:value="${user.phone}" class="form-control input-lg"/>');
            $("#updateDiv").html("");
        }

        $("#submitBtn").click(function () {
            var id = $("#hiddenId").val();
            var headImg = $("#userp").val();
            var name = $("#userName").val();
            var phone = $("#userPhone").val();
            var usedPwd = $("#usedPwd").val();
            var newPwd = $("#newPwd").val();
            var pwd = $("#userPwd").val();
            var password = $("#userPassword").val();
            if(newPwd == usedPwd){
                if(password == pwd){
                    $.ajax({
                        url:'../user/updateUserPassword',
                        type:'post',
                        data:{
                            id:id,
                            pwd:pwd,
                            phone:phone,
                            headImg:headImg
                        },
                        dataType:'json',
                        success:function (result) {
                            if (result){
                                alert("修改成功");
                            }else {
                                alert("修改失败");
                            }
                        }
                    })
                } else {
                    alert("两次密码输入不一致");
                }
            } else {
                alert("密码不正确");
            }
        })
    </script>
</body>
</html>