<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.power.PowerBeanMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.power.PowerBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="power" property="power" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, pid, power
  </sql>

  <!-- 查询总条数 -->
  <select id="queryRoleCount" parameterType="com.jk.model.role.RoleBean" resultType="int" >
    SELECT count(*) FROM(
    SELECT r.id from t_role r,t_role_power rp,t_power p
    where r.id = rp.role_id and rp.power_id = p.id
    <if test="name != null and name != ''">
      r.name like '%${name}%'
    </if>
    GROUP BY r.id )l
  </select>

  <!-- 分页  -->
  <select id="queryRoleList" parameterType="com.jk.model.role.RoleBean" resultType="com.jk.model.role.RoleBean" >
    SELECT r.*,GROUP_CONCAT(p.name) powerName
    from t_role r,t_role_power rp,t_power p
    where r.id = rp.role_id and rp.power_id = p.id
    <if test="name != null and name != ''">
      r.name like '%${name}%'
    </if>
    GROUP BY r.id
    limit #{startIndex},#{rows}
  </select>

  <!-- 添加角色 -->
  <insert id="saveRole" parameterType="com.jk.model.role.RoleBean">
    insert into t_role (name) values (#{name})
    <selectKey resultType="int" keyProperty="id">
      SELECT LAST_INSERT_ID() as ID
    </selectKey>
  </insert>

  <!-- 修改角色 -->
  <update id="updateRoleById" parameterType="com.jk.model.role.RoleBean">
    update t_role set name = #{name}
    where id = #{id}
  </update>

  <!--  删除角色权限表  -->
  <delete id="deleteRolePowerByRoleId" parameterType="com.jk.model.role.RoleBean">
    delete from t_role_power where role_id = #{id}
  </delete>

  <!-- 添加角色权限表 -->
  <insert id="saveRolePower">
    insert into t_role_power (role_id,power_id) values
    <foreach collection="arrayList" item="item" index="index" separator=",">
      (#{item.roleId},#{item.powerId})
    </foreach>
  </insert>

  <!-- 查询所有权限  -->
  <select id="queryPowerAll" resultType="com.jk.model.power.PowerBean">
    select * from t_power
  </select>

  <select id="queryRoleInfoById" parameterType="com.jk.model.role.RoleBean" resultType="com.jk.model.role.RoleBean">
    SELECT r.*,GROUP_CONCAT(rp.power_id) powerName from t_role r,t_role_power rp
    where r.id = rp.role_id and r.id = #{id}
  </select>
</mapper>