<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.power.PowerBeanMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.power.PowerBean" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="INTEGER" />
    <result column="power" property="power" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, pid, power
  </sql>

  <!-- 查询总条数 -->
  <select id="queryPowerCount" resultType="int" >
    SELECT count(*) FROM (SELECT p.id,p.power,p.grade,GROUP_CONCAT(p.`name`) name,t.text treeName FROM
    t_power p,t_tree t where p.pid = t.id
    <if test="powerBean.treeName != null and powerBean.treeName != ''">
      and t.text like '%${powerBean.treeName}%'
    </if>
    GROUP BY t.text) a
  </select>

  <!-- 分页  -->
  <select id="queryPowerList" resultType="com.jk.model.power.PowerBean" >
    SELECT p.id,p.power,p.grade,GROUP_CONCAT(p.`name`) name,t.text treeName FROM
    t_power p,t_tree t where p.pid = t.id
    <if test="powerBean.treeName != null and powerBean.treeName != ''">
      and t.text like '%${powerBean.treeName}%'
    </if>
    GROUP BY t.text limit #{powerBean.startIndex},#{powerBean.rows}
  </select>

  <!-- 查询角色 -->
  <select id="queryRoleAll" resultType="com.jk.model.role.RoleBean">
    select * from t_role
  </select>

  <!-- 添加权限 -->
  <insert id="savePower" parameterType="com.jk.model.power.PowerBean">
    insert into t_power
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="grade != null" >
        grade,
      </if>
      <if test="name != null and name != ''" >
        name,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="power != null and power != ''" >
        power,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="grade != null" >
        #{grade},
      </if>
      <if test="name != null and name != ''" >
        #{name},
      </if>
      <if test="pid != null" >
        #{pid},
      </if>
      <if test="power != null and power != ''" >
        #{power},
      </if>
    </trim>

    <selectKey resultType="int" keyProperty="id">
      SELECT LAST_INSERT_ID() as ID
    </selectKey>
  </insert>

  <!-- 修改权限 -->
  <update id="updatePowerById">
    update t_power
    <set>
      <if test="powerBean.name != null and powerBean.name != ''" >
        name = #{powerBean.name},
      </if>
      <if test="powerBean.pid != null" >
        pid = #{powerBean.pid},
      </if>
      <if test="powerBean.power != null and powerBean.power != ''" >
        power = #{powerBean.power},
      </if>
      <if test="powerBean.grade != null">
        grade = #{powerBean.grade},
      </if>
    </set>
    where id = #{powerBean.id}
  </update>

  <!--  删除角色权限表  -->
  <delete id="deleteRolePowerByPowerId">
    delete from t_role_power where power_id = #{powerBean.id}
  </delete>

  <!-- 添加角色权限表 -->
  <insert id="saveRolePower">
    insert into t_role_power (role_id,power_id) values
    (#{rolePowerBean.roleId},#{rolePowerBean.powerId})
  </insert>

  <select id="queryPowerInfoById" resultType="com.jk.model.power.PowerBean">
    select p.id,p.name,p.grade,p.power,p.pid,rp.role_id roleId from t_power p ,t_role_power rp
    where p.id = rp.power_id and p.id = #{powerBean.id}
  </select>
</mapper>