<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script type="text/javascript" src="../jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.css" />
    <script type="text/javascript" src="../bootstrap3/js/bootstrap.js"></script>

    <!--表格-->
    <link rel="stylesheet" href="../bootstrap-table/bootstrap-table.css"/>
    <script src="../bootstrap-table/bootstrap-table.js"></script>
    <script src="../bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!--添加扇形叶-->
    <link rel="stylesheet" href="../bootStrap-addTabs/bootstrap.addtabs.css"/>
    <script src="../bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
</head>
<body>
    <table id="myTable"></table>
</body>
<script>
    $(function(){
        setMyTable();
    })

    function setMyTable(){
        $('#myTable').bootstrapTable({
            url:'../wDelivery/queryDelivery',//获取数据地址
            method: 'get',
            //dataType: "json",
            //dataField: "data",
            classes:'table',//边框
            undefinedText:'',//当数据为 undefined 时显示的字符
            pagination:true,//启动分页
            //paginationLoop:true,
            sidePagination: "client",
            pageNumber:1,
            pageSize:5,
            pageList:[ 5, 10, 15, 30 ],
            //striped: true,
            // showColumns: true,  //显示下拉框勾选要显示的列
            showRefresh: true,  //显示刷新按钮
            showToggle:true,//显示一行是否改成竖着
            showPaginationSwitch:true,//是否显示 下面的分页框
            search: true, //显示搜索框
            toolbal:'#toolbar',
            columns:[
                {checkbox:true},
                {field:'id',title:'出库编号',width:100},
                {field:'returnDate',title:'出库日期',width:150},
                {field:'salesReturnId',title:'订单编号',width:100},
                {field:'type',title:'配送方式',width:100,
                    formatter:function(value,row,index){
                        if(value==1){
                            return "自配送";
                        }else if(value==2){
                            return "第三方物流";
                        }else {
                            return "门店自提";
                        }
                    }},
                {field:'salesReturnId',title:'收货人',width:100},
                {field:'salesReturnId',title:'收货人联系方式',width:100},
                {field:'salesReturnId',title:'配送地址',width:100},
                {field:'warehouseId',title:'出货仓库',width:100},
                {field:'warehouseId',title:'仓管员',width:100},
                {field:'123',title:'操作',width:100, formatter:function(value,row,index){
                        var valuesHtml='';
                        if ( row.returnDate != null){

                        }else {
                            valuesHtml+='<button type="button" onclick="outStorage('+row.id+')" class="btn btn-danger">确认出库</button>'
                        }
                        return valuesHtml;
                    }}
            ]
        });
    }
    function outStorage(id){
        if(id!=null){
            $.ajax({
                url:'../wDelivery/outStorage',
                type:'post',
                data:{id:id},
                success:function(data){
                    if(data){
                        $('#myTable').bootstrapTable('refresh');
                    }else{
                        alert("您的操作错误")
                    }
                }
            })
        }else{
            alert("操作失败,请刷新后再试!")
        }
    }
</script>
</html>