<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script type="text/javascript" src="../jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.css" />
    <script type="text/javascript" src="../bootstrap3/js/bootstrap.js"></script>

    <!--表格-->
    <link rel="stylesheet" href="../bootstrap-table/bootstrap-table.css"/>
    <script src="../bootstrap-table/bootstrap-table.js"></script>
    <script src="../bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!--添加扇形叶-->
    <link rel="stylesheet" href="../bootStrap-addTabs/bootstrap.addtabs.css"/>
    <script src="../bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
</head>
<body>
<div class="panel panel-default " style=" height:100% ; width:100%; position:absolute;">
    <div class="panel-heading">
        <h3 class="panel-title">商品管理/商品列表</h3>
    </div>
    <div class="panel-body">
        <div id="toolbar">
            <form class="form-inline">
                <div class="form-group">
                    <label for="number">商品编号</label>
                    <input type="text" class="form-control" id="number" placeholder="请输入商品编号"/>
                </div>
                <div class="form-group">
                    <label for="name">商品名称</label>
                    <input type="text" class="form-control" id="name" placeholder="请输入商品名称"/>
                </div>
                <div class="form-group">
                    <!--<label>生日</label>-->
                    <label for="trademark">商品品牌</label>
                    <input type="text" class="form-control" id="trademark" placeholder="请输入商品品牌"/>
                    <!--<input type="text" class="form-control date" id="birthdayStart" />
                    <input type="text" class="form-control date" id="birthdayEnd" />-->
                </div>
                <div class="form-group">
                    <label for="state">商品状态</label>
                    <input type="text" class="form-control" id="state" placeholder="上架"/>
                </div>
            </form>
            <button type="button" onclick="searchUser()" class="btn btn-info glyphicon glyphicon-search">搜索</button>
            <!--  <button type="button" onclick="deleteAll()" class="btn btn-danger glyphicon glyphicon-trash">批量删除</button>
              <button type="button" onclick="updateLockStateAll()" class="btn btn-active glyphicon glyphicon-lock">批量锁定</button>
        -->  </div>
        <!-- 展示用户列表 -->
        <table id="myTable"></table>
    </div>
</div>
</body>
<script>
    $(function(){
        setMyTable();
    })
    //日期插件
    $("#inboundDate").datetimepicker({
        format: 'yyyy-mm-dd',//显示格式
        todayHighlight: 1,//今天高亮
        minView: "month",//设置只显示到月份
        startView:2,
        forceParse: 0,
        showMeridian: 1,
        autoclose: 1//选择后自动关闭
    });
    function setMyTable(){
        $('#myTable').bootstrapTable({
            toolbar:'#search',
            url:'../wManage/queryStock',//获取数据地址
            pagination:true, //是否展示分页
            pageList:[3, 5, 10, 15],//分页组件
            pageNumber:1,
            pageSize:5,//默认每页条数
            //search:true,//是否显示搜索框
            //searchText:'试试',//初始化搜索文字
            showColumns:false,//是否显示 内容列下拉框
            showToggle:false,//是否显示 切换试图（table/card）按钮
            showPaginationSwitch:false,//是否显示 数据条数选择框
            showRefresh:false,//是否显示刷新按钮
            detailView:false,//设置为 true 可以显示详细页面模式。
            showFooter:false,//是否显示列脚
            clickToSelect: true, //是否启用点击选中行
            sidePagination:'server',//分页方式：client客户端分页，server服务端分页（*
            striped:true,
            queryParams:function(){
                return {
                    page: this.pageNumber,
                    rows: this.pageSize,
                    indentId:$('#indentId').val(),
                    inboundDate:$('#inboundDate').val(),
                    state:$('#state').val()
                };
            },
            columns:[
                {checkbox:true},
                {field:'inboundDate',title:'入库日期',width:100},
                {field:'id',title:'入库单编号',width:100},
                {field:'indentId',title:'采购单编号',width:100},
                {field:'state',title:'入库状态',width:100,
                    formatter:function(value,row,index){
                        if(value==1){
                            return "未入库";
                        }else {
                            return "已入库";
                        }
                    }},
                {field:'type',title:'入库类型',width:100,
                    formatter:function(value,row,index){
                        if(value==1){
                            return "一般入库";
                        }else {
                            return "调拨入库";
                        }
                    }},
                {field:'indentId',title:'供应商编号',width:100},
                {field:'warehouseId',title:'入货仓库',width:100},
                {field:'indentId',title:'收货员',width:100},
                {field:'warehouseId',title:'仓管员',width:100},
                {field:'123',title:'操作',width:100, formatter:function(value,row,index){
                        var valuesHtml='';
                            if ( row.state==1 ){
                                valuesHtml+='<button type="button" onclick="inStorage('+row.id+')" class="btn btn-danger">确认入库</button>'
                            }
                        return valuesHtml;
                }}
            ]

        });
    }
    function inStorage(id){
        if(id!=null){
            $.ajax({
                url:'../wManage/inStorage',
                type:'post',
                data:{id:id},
                success:function(data){
                    if(data){
                        $('#myTable').bootstrapTable('refresh');
                    }else{
                        alert("您的操作错误")
                    }
                }
            })
        }else{
            alert("操作失败,请刷新后再试!")
        }
    }
</script>
</html>