<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script type="text/javascript" src="../jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.css" />
    <script type="text/javascript" src="../bootstrap3/js/bootstrap.js"></script>

    <!--表格-->
    <link rel="stylesheet" href="../bootstrap-table/bootstrap-table.css"/>
    <script src="../bootstrap-table/bootstrap-table.js"></script>
    <script src="../bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!--添加扇形叶-->
    <link rel="stylesheet" href="../bootStrap-addTabs/bootstrap.addtabs.css"/>
    <script src="../bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
</head>
<body>
    <!-- 展示用户列表 -->
    <table id="myTable"></table>
</body>
<script>
    $(function(){
        setMyTable();
    })
    //日期插件
    $("#inboundDate").datetimepicker({
        format: 'yyyy-mm-dd',//显示格式
        todayHighlight: 1,//今天高亮
        minView: "month",//设置只显示到月份
        startView:2,
        forceParse: 0,
        showMeridian: 1,
        autoclose: 1//选择后自动关闭
    });
    function setMyTable(){
        $('#myTable').bootstrapTable({
            url:'../wManage/queryStock',//获取数据地址
            method: 'get',
            //dataType: "json",
            //dataField: "data",
            classes:'table',//边框
            undefinedText:'',//当数据为 undefined 时显示的字符
            pagination:true,//启动分页
            //paginationLoop:true,
            sidePagination: "client",
            pageNumber:1,
            pageSize:5,
            pageList:[ 5, 10, 15, 30 ],
            //striped: true,
            // showColumns: true,  //显示下拉框勾选要显示的列
            showRefresh: true,  //显示刷新按钮
            showToggle:true,//显示一行是否改成竖着
            showPaginationSwitch:true,//是否显示 下面的分页框
            search: true, //显示搜索框

            toolbal:'#toolbar',
            columns:[
                {checkbox:true},
                {field:'inboundDate',title:'入库日期',width:100},
                {field:'id',title:'入库单编号',width:100},
                {field:'indentId',title:'采购单编号',width:100},
                {field:'state',title:'入库状态',width:100,
                    formatter:function(value,row,index){
                        if(value==1){
                            return "未入库";
                        }else {
                            return "已入库";
                        }
                    }},
                {field:'type',title:'入库类型',width:100,
                    formatter:function(value,row,index){
                        if(value==1){
                            return "一般入库";
                        }else {
                            return "调拨入库";
                        }
                    }},
                {field:'indentId',title:'供应商编号',width:100},
                {field:'warehouseName',title:'入货仓库',width:100},
                {field:'warehouseUserName',title:'仓管员',width:100},
                {field:'123',title:'操作',width:100, formatter:function(value,row,index){
                        var valuesHtml='';
                            if ( row.state==1 ){
                                valuesHtml+='<button type="button" onclick="inStorage('+row.id+')" class="btn btn-danger">确认入库</button>'
                            }
                        return valuesHtml;
                }}
            ]
        });
    }
    function inStorage(id){
        if(id!=null){
            $.ajax({
                url:'../wManage/inStorage',
                type:'post',
                data:{id:id},
                success:function(data){
                    if(data){
                        $('#myTable').bootstrapTable('refresh');
                    }else{
                        alert("您的操作错误")
                    }
                }
            })
        }else{
            alert("操作失败,请刷新后再试!")
        }
    }
</script>
</html>