<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script type="text/javascript" src="../jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../bootstrap3/css/bootstrap.css" />
    <script type="text/javascript" src="../bootstrap3/js/bootstrap.js"></script>

    <!--表格-->
    <link rel="stylesheet" href="../bootstrap-table/bootstrap-table.css"/>
    <script src="../bootstrap-table/bootstrap-table.js"></script>
    <script src="../bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!--添加扇形叶-->
    <link rel="stylesheet" href="../bootStrap-addTabs/bootstrap.addtabs.css"/>
    <script src="../bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
</head>
<body>
<div class="table" id="myTable" style="width: 1000px;margin-left:10px"></div>
</body>
<script>
    $(function(){
        setMyTable();
    })
    function setMyTable(){
        $('#myTable').bootstrapTable({

            url:'../warehouse/queryWarehouse',//获取数据地址
            method: 'get',
            //dataType: "json",
            //dataField: "data",
            classes:'table',//边框
            undefinedText:'',//当数据为 undefined 时显示的字符
            pagination:true,//启动分页
            //paginationLoop:true,
            sidePagination: "client",
            pageNumber:1,
            pageSize:5,
            pageList:[ 5, 10, 15, 30 ],
            //striped: true,
            // showColumns: true,  //显示下拉框勾选要显示的列
            showRefresh: true,  //显示刷新按钮
            showToggle:true,//显示一行是否改成竖着
            showPaginationSwitch:true,//是否显示 下面的分页框
            search: true, //显示搜索框

            toolbal:'#toolbar',
            columns:[
                {checkbox:true},
                {field:'regionId',title:'仓库编号',width:100},
                {field:'regionName',title:'仓库名称',width:150},
                {field:'regionPlace',title:'仓库地址',width:180},
                {field:'userName',title:'仓管员',width:100},
                {field:'areaSum',title:'货区数量',width:100},
                {field:'shelfSum',title:'货架数量',width:100}
            ]
        });
    }

</script>
</html>