<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.warehouse.WarehouseDeliveryMapper" >
  <resultMap id="BaseResultMap" type="com.jk.model.warehouse.WarehouseDelivery" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="return_date" property="returnDate" jdbcType="DATE" />
    <result column="sales_return_id" property="salesReturnId" jdbcType="INTEGER" />
    <result column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, return_date, sales_return_id, warehouse_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from warehouse_delivery
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from warehouse_delivery
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jk.model.warehouse.WarehouseDelivery" >
    insert into warehouse_delivery (id, type, return_date, 
      sales_return_id, warehouse_id)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{returnDate,jdbcType=DATE}, 
      #{salesReturnId,jdbcType=INTEGER}, #{warehouseId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jk.model.warehouse.WarehouseDelivery" >
    insert into warehouse_delivery
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="returnDate != null" >
        return_date,
      </if>
      <if test="salesReturnId != null" >
        sales_return_id,
      </if>
      <if test="warehouseId != null" >
        warehouse_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="returnDate != null" >
        #{returnDate,jdbcType=DATE},
      </if>
      <if test="salesReturnId != null" >
        #{salesReturnId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null" >
        #{warehouseId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jk.model.warehouse.WarehouseDelivery" >
    update warehouse_delivery
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="returnDate != null" >
        return_date = #{returnDate,jdbcType=DATE},
      </if>
      <if test="salesReturnId != null" >
        sales_return_id = #{salesReturnId,jdbcType=INTEGER},
      </if>
      <if test="warehouseId != null" >
        warehouse_id = #{warehouseId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.model.warehouse.WarehouseDelivery" >
    update warehouse_delivery
    set type = #{type,jdbcType=INTEGER},
      return_date = #{returnDate,jdbcType=DATE},
      sales_return_id = #{salesReturnId,jdbcType=INTEGER},
      warehouse_id = #{warehouseId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--查询所有-->
  <select id="queryList" parameterType="map" resultMap="BaseResultMap">
    select * from warehouse_delivery
    where 1 = 1 order by id
    limit #{start},#{end}
  </select>
  <!--查询条数-->
  <select id="queryCount" resultType="int" parameterType="map">
    select count(1) from warehouse_delivery
    where 1 = 1
  </select>
  <!--出库-->
  <update id="outStorage" parameterType="com.jk.model.warehouse.WarehouseDelivery" >
    update warehouse_delivery wd set wd.return_date = CURDATE() where wd.id = #{id,jdbcType=INTEGER}
  </update>
</mapper>